/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus{
	outline: none;
}

.btn,
.btn[type="button"]{
	text-transform: uppercase;
	background: $btn-bg;
	color: $btn-color;
	position: relative;
	display: inline-block;
	max-width: 100%;
	width: $btn-width;
	min-width: $min-width;
	line-height: $btn-lh;
	height: $btn-height;
	font-family: $ff;
	line-height: $btn-lh;
	font-weight: $btn-fw;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	font-size: $btn-fz;
	text-decoration: none;
	border-radius: $btn-radius;
	border: $btn-border-w solid $btn-border-c;
	cursor: pointer;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-appearance: inherit;
	padding: 0 20px;
	&:hover{
		-ms-filter: brightness(70%);
		-webkit-filter: brightness(70%);
		-moz-filter: brightness(70%);
		-o-filter: brightness(70%);
		filter: brightness(70%);
	}
	&.btn_full{
		width: 100%;
		min-width: 0;
	}
	@media screen and (max-width: 979px) {
		@include font-size(16px);
	}
}


/* Отключение кнопки */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
					box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}

.btn.btn_blue{
	background-color: $secondary-color;
	color: #000;
	border-color: $secondary-color;
}

.btn.btn_sm{
	width: 208px;
}

.btn.btn_save{
	width: 336px;
	line-height: 55px;
	@media screen and (max-width: 767px) {
		width: 300px;
		@include font-size(14px);
	}
}

.btn.btn_transparent{
	background: transparent;
	color: #000;
	border-color: #000;
	&:hover{
		background: $primary-color;
		color: $secondary-color;
		border-color: $grey;
	}
}

.anchor{
	line-height: 60px;
	&:hover{
		text-decoration: none;
		color: $secondary-color;
	}
}
.security-content{
	@media screen and (max-width: 767px) {
		.anchor{
			line-height: 48px;
		}
	}
	.anchor{
		&:hover{
			text-decoration: none;
			color: #000;
		}
	}
}
.btn_empty{
	background: transparent;
	border: none;
	font-size: 0px !important;
}

.btn.right{
	line-height: 60px;
	&:hover{
		text-decoration: none;
		color: $secondary-color;
	}
}

.front-services-price-btn{
	position: absolute;
	background: $primary-color;
	width: 40%;
	padding-left: 30px;
	margin-left: -20px;
	bottom: -11px;
	z-index: 1;
	@media screen and (max-width: 979px) {
		width: 60%;
	}
	@media screen and (max-width: 767px) {
		width: 80%;
		padding-left: 10px;
		margin-left: -20px;
		.btn{
			width: 196px;
			@include font-size(14px);
		}
	}
}

/* end buttons */