/* ==========================================================================
	 Contacts
	 ===========================================================================*/

.contacts{
	position: relative;
	@media screen and (max-width: 1200px) {
		overflow: hidden;
	}
	&:before{
		position: absolute;
		content: '';
		width: 248px;
		height: 248px;
		top: 286px;
		left: -50px;
		background: url(../images/globe-full.png) no-repeat;
		background-size: 248px 248px;
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
/* tab menu */
.tab{
	min-height: 602px;
}
.tab-menu{
	margin-bottom: 50px;
}

.tab-content-slide{
	display: none;
}

.tab-content-slide.tab-content-slide1{
	display: block;
}
/* tab btn */
.tab-menu__button{
	display: inline-block;
	cursor: pointer;
	color: #fff;
	@include font-size(24px);
	font-family: Ubuntu;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0.4;
	width: 48%;
	@media screen and (max-width: 979px) {
		@include font-size(18px);
	}
	@media screen and (max-width: 767px) {
		@include font-size(14px);
		text-align: center !important;
	}
	span{
		padding-bottom: 5px;
	}	
}
.cssarrow {
	position: relative;
	border-bottom: 1px solid #20bdff;
}
.cssarrow:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #20bdff;
	border-width: 10px;
	margin-left: -10px;
}

.tab-menu__button.left{
	text-align:  right;
}

.tab-menu__button_active{
	opacity: 1;
}

.tab-content{
	&:before{
		position: absolute;
		content: '';
		width: 248px;
		height: 248px;
		top: 170px;
		right: -50px;
		background: url(../images/globe-full.png) no-repeat;
		background-size: 248px 248px;
	}
}
/* tab form */
.form.form_tabs{
	padding: 0 0 44px 0;
	.form-group.form-group_height{
		@media screen and (min-width: 768px) {
			width: 48%;
			float: right;
			height: 223px;
			.form-group__textarea{
				height: 100%;
			}
		}
	}	
}
.wrapper-input{
	@media screen and (min-width: 768px) {
		width: 48%;
		float: left;
	}
}

/* tab map links */
.tab-content-slide-links, .tab-content-slide-map{
	width: 50%;
	float: left;
	height: 371px;
}

.link-contact.link-contact_position, .link-location.link-location_position{
	float: left;
}

.tab-content-slide-links{
	padding-right: 20px;
	@media screen and (max-width: 767px) {
		display: none;
	}
	a, span{
		margin-bottom: 40px;
	}
}

.tab-content-slide-map{
	@media screen and (max-width: 767px) {
		width: 100%;
	}
}
/* end contacts */

