/* ==========================================================================
	 FONTS
	 ===========================================================================*/

/* ROBOTO */

/* REGULAR */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Light */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light.woff') format('woff'),
         url('../fonts/../fonts/roboto-light.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}
/* Bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* Light Italic*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-lightitalic.eot');
    src: url('../fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic.woff') format('woff'),
         url('../fonts/roboto-lightitalic.ttf') format('truetype');
    font-weight: 400;
	font-style: italic;
}

/* UBUNTU */

/* Bold */
@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu-Bold.woff') format('woff'),
	url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* Regular */
@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu-Regular.eot');
	src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Ubuntu-Regular.woff') format('woff'),
	url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}