/* ==========================================================================
	 GLOBAL STYLES
	 ===========================================================================*/
*,
*:before,
*:after {
	@include box-sizing(border-box);
}
html{
	// font-size: 62.5%;
	font-size: 100%;
	height: 100%;
	min-width: 300px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	@media screen and (max-width: 318px) {
		overflow-x:auto;
	}
}
body {
	position: relative;
	font-family: $ff;
	@include font-size($fz-base);
	line-height: $lh-base;
	font-weight: $fw-base;
	color: $text-color;
	background: url(../images/___.png), $body-bg;
	overflow-x: hidden;

	/* FLEX */
	@include flexbox();
	flex-flow:column;
	min-height: 100vh;
}

.wrapper{
	width: 100%;
	height:100%;
	@include flex(1 0 auto);
	margin-bottom: 100px;
}

.wrapper.wrapper_margin{
	@media screen and (max-width: 580px) {
		margin-bottom: 160px;
	}
}
/* CUSTOM STYLE FOR GRID */
.container{
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
/* list */
nav ul,
ul {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style: none;
	margin-left: 10px;
	li {
		list-style: none;
		list-style-type: disc;
		color: #000;
		font-weight: 400;
		font-family: $ff-secondary;
		padding-left: 5px;
		margin-bottom: 30px;
	}
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role="button"] {
  cursor: pointer;
}

/* clearfix */
.clearfix {
	clear: both;
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
// images
img,
video {
	max-width: 100%;
	height: auto;
	&.no-responsive{
		max-width: none;
	}
}


/* FOR SAFARI */
input,
textarea{
	-webkit-overflow-scrolling: touch;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search {
        /* remove inner shadow on iOS input */
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }
}
[type=search]{
	@include appearance(none);
}

/* address */
address{
	font-style: normal;
}

/* hide */
.hide{
	position: absolute;
    overflow: hidden;
    z-index: -1;
    width: .1px;
    height: .1px;
    opacity: 0;
}

/* placeholder */
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}
/* end global styles */