/* ==========================================================================
	 header
	 ===========================================================================*/

.header{
	position: relative;
	background:  url(../uploads/header-bg.jpg) no-repeat center;
	background-size: cover;
	height: 853px;
    overflow: hidden;
    @media screen and (max-width: 979px) {
		height: 802px;
	}
	@media screen and (max-width: 540px) {
		height: 467px;
	}
	/* header-pic */
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 855px;
		background: url(../images/rectangle.png) no-repeat 100% 100%, url(../images/globe.png) no-repeat 0 142%;
		@media screen and (max-width: 1050px) {
			background: url(../images/rectangle.png) no-repeat 34px 100%, url(../images/globe.png) no-repeat 0 142%;
			background-size: auto, 181px 575px;
		}
		@media screen and (max-width: 979px) {
			background: url(../images/rectangle.png) no-repeat 0px 100%, url(../images/globe.png) no-repeat 0 142%;
			background-size: auto, 128px 388px;
			height: 832px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
/* header small*/
.header.header_sm{
	height: 500px;
	@media screen and (max-width: 1050px) {
		height: 556px;
	}
	@media screen and (max-width: 767px) {
		height: 320px;
	}
	&:before{
		height: 502px;
		background: url(../images/rectangle.png) no-repeat 100% 100%;
		@media screen and (max-width: 1050px) {
			height: 558px;
		}
		@media screen and (max-width: 979px) {
			background: url(../images/rectangle.png) no-repeat 0px 100%, url(../images/globe.png) no-repeat 0 207%;
			background-size: auto, 128px 388px;
			height: 558px;
		}
	}	
}
/* top header */
.header-top{
	height: 49px;
	background: rgba(0,0,0,0.5);
	position: relative;
	z-index: 2;
}

.header-top-content{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 50px;
	@media screen and (max-width: 1240px) {
		padding: 0 20px;
	}
	@media screen and (max-width: 979px) {
		padding: 0 10px;
	}
}

.social{
	line-height: 2.5;
	font-size: 0px;
	&:hover{
		text-decoration: none;
	}
}

/* icons */
.icon-social{
	stroke: #bababa;
	fill: #bababa;
	vertical-align: middle;
	margin-right: 15px;
	width: 21px;
    height: 21px;
}


.link-contact, .link-location{
	float: right;
	font-family: $ff;
	margin-left: 5%;
	line-height: 2.5;
	font-weight: 400;
	@media screen and (max-width: 979px) {
		@include font-size(14px);
		line-height: 3.3;
	}
	@media screen and (max-width: 767px) {
		span{
			display: none;
		}
	}
	&:hover{
		text-decoration: none;
	}
}

.header-top{
	@media screen and (max-width: 767px) {
		.link-location{
			display: none;
		}
	}
}

.icon-contacts{
	stroke: $secondary-color;
	fill: $secondary-color;
	vertical-align: middle;
	width: 19px;
    height: 19px;
}


/* bottom header */
.header-bottom{
	position: relative;
}

.header-middle{
	position: relative;
	z-index: 3;
}

.header-bottom-content, .header-middle{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	@media screen and (max-width: 1240px) {
		padding: 0 20px;
	}
	@media screen and (max-width: 979px) {
		padding: 0 10px;
	}
}

/* logo */
.logo{
	width: 232px;
	height: 63px;
	margin-top: 14px;
	@media screen and (max-width: 979px) {
		width: 174px;
		height: 52px;
	}
	@media screen and (max-width: 540px) {
		width: 116px;
		height: 43px;
	}
}

/* header menu */
.header-middle-content-menu__item{
	list-style-type: none;
	text-transform: uppercase;
	float: left;
	padding: 5px 25px;
	@media screen and (max-width: 1240px) {
		padding: 5px 15px;
	}
}

.form-search, .header-middle-content-menu {
	float: right;
	margin-top: 10px;
}
/* close menu */
.close-btn{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
    width: 25px;
    height: 25px;
    padding: 20px;
	@media screen and (min-width: 891px) {
		display: none;
	}
}
/* close form */
.close-btn.close-btn_position{
	right: 10px;
	top: 10px;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.close-icon {
	color: #fff;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	font-size: 0px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 25px;
    width: 25px;
}
.close-icon:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0px;
	width: 25px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.close-icon:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0px;
	width: 25px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-icon.close-icon_blue{
	color: $secondary-color;
}

.header-middle-content-menu {
	position: absolute;
	right: 90px;
	top: 0px;
	border-right: 2px solid #fff;
	z-index: 2;
	@media screen and (max-width: 1240px) {
		right: 55px;
	}
	@media screen and (max-width: 890px) {
		//display: none;
		background: $primary-color;
		top: 0;
		left: -230px;
		margin-top: 0;
		width: 230px;
		border-right: none;
		height: 100%;
		position: fixed;
		margin-top: 49px;
		.header-middle-content-menu__item{
			float: none;
			padding: 0 0;
			a{
				@include font-size(14px);
				width: 100%;
				padding: 15px 0;
				display: inline-block;
			}
		}
	}
	@media screen and (min-width: 891px) {
		left: auto !important;
	}
	.header-middle-content-menu__item{
		margin-bottom: 0px;
	}
}
/* header menu hamburger */
.btn-menu{
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
	margin-top: 23px;
	width: 22px;
	height: 22px;
	vertical-align: top;
	@media screen and (min-width: 891px) {
		display: none;
	}
}

.menu-icon {
	color: #fff;
	position: absolute;
	margin-left: 2px;
	width: 21px;
	height: 3px;		
	margin-top: 8px;
	background-color: currentColor;	
	font-size: 0px;
}
.menu-icon:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	width: 21px;
	height: 3px;
	background-color: currentColor;
}
.menu-icon:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 21px;
	height: 3px;
	background-color: currentColor;
}

/* header search */
.form-search{
	position: relative;
	z-index: 3;
}

.form-search__input{
	border-radius: 0px;
	background: transparent;
	border: none;
	width: 0px;
	outline: none;
	color: $title-color;
	font-style: italic;
	-webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
     border-bottom: 0px solid #fff;
     padding-bottom: 5px;
     vertical-align: top;
}

.form-search__input.active{
	border-bottom: 3px solid #fff;
	width: 680px;
	-webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
     @media screen and (max-width: 1240px) {
		width: 610px;
	}
	@media screen and (max-width: 979px) {
		width: calc(100vw - 300px);
	}
	@media screen and (max-width: 540px) {
		width: calc(100vw - 230px);
	}
}

.form-search__input{
	&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
	&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
	&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
	&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
	&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
	&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
	&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
	&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
}

.form-search__btn{
	padding: 5px 0 10px 5px;
}
.icon-search{
	width: 23px;
	height: 22px;
	stroke: #fff;
	fill: #fff;
}

.header-form{
	.form-agreement p{
		@include font-size(12px);
		max-width: 80%;
		text-align: left;
		a{
			@include font-size(12px);
			font-weight: 400;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.form-agreement{
		margin-top: 10px;
	}
	.btn{
		margin-top: 10px;
	}
}
/* header-title */
.header-bottom-content__title{
	margin-top: 208px;
	float: left;
	margin-left: 0px;
	max-width: 900px;
	@media screen and (max-width: 1734px) {
		width: 50%;
	}
	@media screen and (max-width: 1240px) {
		@include font-size(48px);
		margin-top: 109px;
		span{
			@include font-size(36px);
		}
	}
	@media screen and (max-width: 979px) {
		@include font-size(40px);
		span{
			@include font-size(30px);
		}
	}
	@media screen and (max-width: 767px) {
		width: 100%;
	}
	@media screen and (max-width: 540px) {
		@include font-size(30px);
		margin-top: 60px;
		span{
			@include font-size(24px);
		}
	}
}
/* header form */

.header-form{
	background: rgba(0,0,0,0.4);
	float: right;
	width: 510px;
	@media screen and (max-width: 1240px) {
		width: 50%;
	}
	@media screen and (max-width: 767px) {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: #000;
		display: none;
		padding: 0 14px 31px 14px;
		height: 100%;
		overflow-y:auto;
	}
	@media screen and (min-width: 768px) {
		display: block !important;
	}
}

.icon-form{
	position: absolute;
	top: 23px;
	left: 15px;
	width: 16px;
	height: 16px;
}

#open-form{
	position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 400px;
    @media screen and (max-width: 540px) {
		top: 230px;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.logo-link{
	display: inline-block;
}



/* end header */