/* ==========================================================================
	 header
	 ===========================================================================*/

.header{
	position: relative;
	background:  url(../uploads/header-bg.jpg) no-repeat center;
	background-size: cover;
	height: 853px;
    overflow: hidden;
    @media screen and (max-width: 979px) {
		height: 802px;
	}
	@media screen and (max-width: 540px) {
		height: 467px;
	}
    /* dark */
	&:before {
		content: "";
		position:absolute;
		width: 100%;
		height: 804px;
		background: rgba(0,0,0,0.3);
		margin-top: 49px;
		@media screen and (max-width: 979px) {
			height: 753px;
		}
		@media screen and (max-width: 540px) {
			height: 418px;
		}
	}
	/* header-pic */
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 853px;
		background: url(../images/rectangle.png) no-repeat 100% 100%, url(../images/globe.png) no-repeat 0 142%;
		@media screen and (max-width: 1050px) {
			background: url(../images/rectangle.png) no-repeat 34px 100%, url(../images/globe.png) no-repeat 0 142%;
			background-size: auto, 181px 575px;
		}
		@media screen and (max-width: 979px) {
			background: url(../images/rectangle.png) no-repeat 0px 100%, url(../images/globe.png) no-repeat 0 142%;
			background-size: auto, 128px 388px;
			height: 830px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
/* header small*/
.header.header_sm{
	height: 500px;
	@media screen and (max-width: 1050px) {
		height: 556px;
	}
	@media screen and (max-width: 767px) {
		height: 320px;
	}
	&:before {
		height: 451px;
		@media screen and (max-width: 1050px) {
			height: 507px;
		}
		@media screen and (max-width: 767px) {
			height: 271px;
		}
	}	
	&:after{
		height: 502px;
		background: url(../images/rectangle.png) no-repeat 100% 100%;
		@media screen and (max-width: 1050px) {
			height: 558px;
		}
		@media screen and (max-width: 979px) {
			background: url(../images/rectangle.png) no-repeat 0px 100%, url(../images/globe.png) no-repeat 0 207%;
			background-size: auto, 128px 388px;
			height: 558px;
		}
	}	
}
/* top header */
.header-top{
	height: 49px;
	background: rgba(0,0,0,0.5);
	position: relative;
	z-index: 2;
}

.header-top-content{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 50px;
	@media screen and (max-width: 1240px) {
		padding: 0 20px;
	}
	@media screen and (max-width: 979px) {
		padding: 0 10px;
	}
}

.header-top-content__social{
	line-height: 2.5;
}

/* icons */
.icon-social{
	stroke: #bababa;
	fill: #bababa;
	vertical-align: middle;
	margin-right: 15px;
}

.icon-google{
	width: 21px;
    height: 21px;
}

.icon-facebook{
	width: 17px;
    height: 18px;
}

.icon-mail{
	width: 17px;
    height: 18px;
}

.header-top-content__phone, .header-top-content__location{
	float: right;
	font-family: $ff;
	margin-left: 5%;
	line-height: 2.5;
	font-weight: 400;
	@media screen and (max-width: 979px) {
		@include font-size(14px);
		line-height: 3.3;
	}
	@media screen and (max-width: 767px) {
		span{
			display: none;
		}
	}
}

.icon-contacts{
	stroke: $secondary-color;
	fill: $secondary-color;
	vertical-align: middle;
}

.icon-call{
	width: 18px;
	height: 18px;
}

.icon-location{
	width: 20px;
    height: 20px;
}

/* bottom header */
.header-bottom{
	position: relative;
	z-index: 2;
}

.header-bottom-content{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	@media screen and (max-width: 1240px) {
		padding: 0 20px;
	}
	@media screen and (max-width: 979px) {
		padding: 0 10px;
	}
}

/* logo */
.logo{
	width: 232px;
	height: 63px;
	margin-top: 14px;
	@media screen and (max-width: 979px) {
		width: 174px;
		height: 52px;
	}
	@media screen and (max-width: 540px) {
		width: 116px;
		height: 43px;
	}
}

/* header menu */
.header-bottom-content-menu__item{
	list-style-type: none;
	text-transform: uppercase;
	float: left;
	padding: 5px 25px;
	@media screen and (max-width: 1240px) {
		padding: 5px 15px;
	}
}

.header-bottom-content-search, .header-bottom-content-menu {
	float: right;
	margin-top: 10px;
}
/* close menu */
.close-btn{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
    width: 25px;
    height: 25px;
    padding: 5px;
	@media screen and (min-width: 891px) {
		display: none;
	}
}
/* close form */
.close-btn.close-btn_position{
	right: 34px;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.close-icon {
	color: #fff;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	width: 25px;
	height: 25px;
}
.close-icon:before {
	content: '';
	position: absolute;
	top: 10px;
	width: 25px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.close-icon:after {
	content: '';
	position: absolute;
	top: 10px;
	width: 25px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header-bottom-content-menu {
	position: absolute;
	right: 90px;
	top: 0px;
	border-right: 2px solid #fff;
	z-index: 2;
	@media screen and (max-width: 1240px) {
		right: 55px;
	}
	@media screen and (max-width: 890px) {
		display: none;
		background: $primary-color;
		top: 0;
		left: 0;
		margin-top: 0;
		width: 230px;
		border-right: none;
		height: 100%;
		position: fixed;
		margin-top: 49px;
		.header-bottom-content-menu__item{
			float: none;
			padding: 15px 0;
			a{
				@include font-size(14px);
			}
		}
	}
	@media screen and (min-width: 891px) {
		display: block !important;
	}
	.header-bottom-content-menu__item{
		margin-bottom: 0px;
	}
}
/* header menu hamburger */
.header-bottom-content__menu-btn{
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
	margin-top: 23px;
	width: 22px;
	height: 22px;
	vertical-align: top;
	@media screen and (min-width: 891px) {
		display: none;
	}
}

.menu-icon {
	color: #fff;
	position: absolute;
	margin-left: 2px;
	width: 21px;
	height: 3px;		
	margin-top: 8px;
	background-color: currentColor;	
}
.menu-icon:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	width: 21px;
	height: 3px;
	background-color: currentColor;
}
.menu-icon:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 21px;
	height: 3px;
	background-color: currentColor;
}

/* header search */
.header-bottom-content-search{
	position: relative;
	z-index: 1;
}

.header-bottom-content-search__input{
	background: transparent;
	border: none;
	width: 0px;
	outline: none;
	color: $title-color;
	font-style: italic;
	-webkit-transition: all 1s ease-out 0.5s;
     -moz-transition: all 1s ease-out 0.5s;
     -o-transition: all 1s ease-out 0.5s;
     transition: all 1s ease-out 0.5s;
     border-bottom: 0px solid #fff;
     padding-bottom: 5px;
     vertical-align: top;
}

.header-bottom-content-search__input.active{
	border-bottom: 3px solid #fff;
	width: 680px;
	-webkit-transition: all 1s ease-out 0.5s;
     -moz-transition: all 1s ease-out 0.5s;
     -o-transition: all 1s ease-out 0.5s;
     transition: all 1s ease-out 0.5s;
     @media screen and (max-width: 1240px) {
		width: 610px;
	}
	@media screen and (max-width: 979px) {
		width: calc(100vw - 300px);
	}
	@media screen and (max-width: 540px) {
		width: calc(100vw - 230px);
	}
}

.header-bottom-content-search__btn{
	padding: 5px 0 10px 5px;
}
.icon-search{
	width: 23px;
	height: 22px;
	stroke: #fff;
	fill: #fff;
}

/* header-title */
.header-title{
	margin-top: 208px;
	float: left;
	@media screen and (max-width: 1574px) {
		width: 50%;
	}
	@media screen and (max-width: 1240px) {
		@include font-size(48px);
		margin-top: 109px;
		span{
			@include font-size(36px);
		}
	}
	@media screen and (max-width: 979px) {
		@include font-size(40px);
		span{
			@include font-size(30px);
		}
	}
	@media screen and (max-width: 767px) {
		width: 100%;
	}
	@media screen and (max-width: 540px) {
		@include font-size(30px);
		margin-top: 60px;
		span{
			@include font-size(24px);
		}
	}
}
/* header form */

#header-form{
	background: rgba(0,0,0,0.4);
	float: right;
	width: 510px;
	@media screen and (max-width: 1240px) {
		width: 50%;
	}
	@media screen and (max-width: 767px) {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: #000;
		display: none;
		padding: 0 14px 31px 14px;
		height: 100%;
		overflow-y:auto;
	}
	@media screen and (min-width: 768px) {
		display: block !important;
	}
}

.icon-form{
	position: absolute;
	top: 23px;
	left: 15px;
	width: 16px;
	height: 16px;
}

.icon-form.icon-call{
	width: 16px;
	height: 16px;
}

.icon-form.icon-mail{
	width: 16px;
	height: 16px;
}

#open-form{
	position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 400px;
    @media screen and (max-width: 540px) {
		top: 300px;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}

label[class="error"]{
	
}



/* end header */