/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TITLES */

h1{
	font-family: $ff-title;
	@include font-size($fz-h1);
	color: $title-color;
	font-weight: $title-fw;
	text-transform: uppercase;
	position: relative;
	margin-left: 30px;
	margin-top: 150px;
	margin-bottom: 60px;
	span{
		@include font-size(51px);
	}
	.h1-bg{
		position: absolute;
		color: #232323;
		@include font-size(200px);
		z-index: -1;
		top: -110px;
		left: -35px;
		@media screen and (max-width: 979px) {
			@include font-size(180px);
		}
		@media screen and (max-width: 767px) {
			@include font-size(110px);
			top: -63px;
			left: -20px;
		}
	}
	@media screen and (max-width: 979px) {
		@include font-size(48px);
		margin-top: 110px;
	}
	@media screen and (max-width: 767px) {
		@include font-size(30px);
		margin-left: 15px;
		margin-top: 83px;
		margin-bottom: 35px;
	}
}

h2{
	font-family: $ff-title;
	@include font-size($fz-h2);
	color: $title-color;
	line-height:$title-lh;
	font-weight: $title-fw;
}

h3{
	font-family: $ff-title;
	@include font-size($fz-h3);
	color: $title-color;
	font-weight: $title-fw;
}

h4{
	font-family: $ff-title;
	@include font-size($fz-h4);
	color: $title-color;
	font-weight: $title-fw;
}
/* TEXT */
b{
	font-weight: 700;
}
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_right{
	text-align: right !important;
}
.bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
.no-upercouse{
	text-transform: none;
}

/* LINKS */
a {
	font-family: $ff-secondary;
	@include font-size($fz-base);
	color: $link-color;
	line-height: $lh-base;
	font-weight: 700;
	text-decoration: none;
	&:hover{
		color: $link-color;
		text-decoration: underline;
	}
}
/* text */
p{
	line-height: 1.5;
}

.h3-title{
	@include font-size(24px);
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
	@media screen and (max-width: 979px) {
		@include font-size(18px);
	}
	@media screen and (max-width: 767px) {
		@include font-size(16px);
	}
}

.h3-title.h3-title_blue{
	color: $secondary-color;
}

.h4-title{
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
}

