/* ==========================================================================
	 Article
	 ===========================================================================*/

/* Article block */
.article{
	padding-bottom: 30px;
	overflow: hidden;
}
.article-block{
	display: block;
	height: 326px;
	width: 100%;
	background: #3b3b3b;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
	@media screen and (max-width: 979px) {
		height: 226px;
	}
	&:hover{
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
		.btn.btn_center{
			opacity: 1;
			-webkit-transition: all ease-out 0.5s;
			-moz-transition: all ease-out 0.5s;
			-o-transition: all ease-out 0.5s;
			transition: all ease-out 0.5s;
		}
		.article-block-img:after{
			opacity: 1;
			-webkit-transition: all ease-out 0.5s;
			-moz-transition: all ease-out 0.5s;
			-o-transition: all ease-out 0.5s;
			transition: all ease-out 0.5s;
		}
		.icon-calendar{
			fill: #000;
			stroke: #000;
		}
		.article-block-content{
			background: #fff;
			-webkit-transition: all ease-out 0.5s;
			-moz-transition: all ease-out 0.5s;
			-o-transition: all ease-out 0.5s;
			transition: all ease-out 0.5s;
			color: #000;
		text-decoration: none;
		}	
	}
}

.article-block-img{
	float: left;
	width: 263px;
	overflow: hidden;
	height: 100%;
	margin-right: 15px;
	position: relative;
	@media screen and (max-width: 1200px) {
		width: 236px;
	}
	@media screen and (max-width: 979px) {
		width: 50%;
		margin-right: 0px;
	}
	img{
		height: 100%;
		max-width: none;
		width: auto;
	}
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(32,189,255,0.5);
		opacity: 0;
	}
	.btn{
		line-height: 60px;
	}
}

.article-block-content{
	padding: 15px;
    padding: 15px;
    width: 54%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #3b3b3b;
	@media screen and (max-width: 979px) {
		width: 50%;
		margin-left: 0px;
		float: right;
	}
}

.article-title{
	@include font-size(24px);
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
	margin-top: 30px;
	@media screen and (max-width: 1200px) {
		@include font-size(18px);
	}
	@media screen and (max-width: 979px) {
		@include font-size(14px);
	}
}

.btn.btn_center{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
}

.date{
	@include font-size(16px);
	border-bottom: 1px solid #5d5d5d;
	padding-bottom: 10px;
	display: block;
	font-weight: 400;
	@media screen and (max-width: 979px) {
		@include font-size(14px);
	}
	@media screen and (max-width: 767px) {
		@include font-size(12px);
	}
}

/* icon */
.icon-calendar{
	width: 16px;
	height: 16px;
	fill: $secondary-color;
	stroke: $secondary-color;
	vertical-align: middle;
	margin-right: 5px;
}

/* Article block wide */
.article.article_wide{
	.article-block{
		&:nth-child(even){
			.article-block-img{
				float: right;
			}
			.article-block-content{
				left: 0;
			}
		}
	}
	.article-block{
		height: 350px;
		@media screen and (max-width: 767px) {
			height: 226px;
		}
	}
	.article-block-img{
		width: 50%;
		float: left;
		margin-right: 0;
	}
	.article-block-content{
		width: 50%;
		margin-left: 0;
		float: right;
	}
}


/* end article */

