.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-DataArms {
	font-size:(35/10)*1rem;
	width:(231/35)*1em;
}
.icon-Rectangle_4_copy_32 {
	font-size:(263/10)*1rem;
	width:(393/263)*1em;
}
.icon-calendar {
	font-size:(12.8/10)*1rem;
	width:(12.8/12.8)*1em;
}
.icon-call-answer {
	font-size:(51.2/10)*1rem;
	width:(51.2/51.2)*1em;
}
.icon-cloud-computing {
	font-size:(102.4/10)*1rem;
	width:(102.4/102.4)*1em;
}
.icon-database {
	font-size:(102.4/10)*1rem;
	width:(102.4/102.4)*1em;
}
.icon-globe-23519_960_720 {
	font-size:(720/10)*1rem;
	width:(730/720)*1em;
}
.icon-interface {
	font-size:(51.2/10)*1rem;
	width:(51.2/51.2)*1em;
}
.icon-location {
	font-size:(51.2/10)*1rem;
	width:(51.2/51.2)*1em;
}
.icon-search {
	font-size:(51.2/10)*1rem;
	width:(51.2/51.2)*1em;
}
.icon-social {
	font-size:(19.2/10)*1rem;
	width:(19.2/19.2)*1em;
}
.icon-tool {
	font-size:(102.4/10)*1rem;
	width:(102.4/102.4)*1em;
}
