.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-analyse {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-atom {
	font-size:(47/10)*1rem;
	width:(47/47)*1em;
}
.icon-calendar {
	font-size:(488.152/10)*1rem;
	width:(488.152/488.152)*1em;
}
.icon-call {
	font-size:(348.077/10)*1rem;
	width:(348.077/348.077)*1em;
}
.icon-chart {
	font-size:(486.74/10)*1rem;
	width:(486.74/486.74)*1em;
}
.icon-cloud {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-computer {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-database {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-dollar {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-facebook {
	font-size:(96.123/10)*1rem;
	width:(96.124/96.123)*1em;
}
.icon-google {
	font-size:(315/10)*1rem;
	width:(315/315)*1em;
}
.icon-graph {
	font-size:(502.66/10)*1rem;
	width:(502.66/502.66)*1em;
}
.icon-location {
	font-size:(430.114/10)*1rem;
	width:(430.114/430.114)*1em;
}
.icon-magic {
	font-size:(431.66/10)*1rem;
	width:(431.66/431.66)*1em;
}
.icon-mail {
	font-size:(485.211/10)*1rem;
	width:(485.211/485.211)*1em;
}
.icon-next {
	font-size:(493.356/10)*1rem;
	width:(493.356/493.356)*1em;
}
.icon-save {
	font-size:(550.801/10)*1rem;
	width:(550.801/550.801)*1em;
}
.icon-search {
	font-size:(485.213/10)*1rem;
	width:(485.213/485.213)*1em;
}
.icon-think {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-user {
	font-size:(409.164/10)*1rem;
	width:(409.165/409.164)*1em;
}
.icon-vk {
	font-size:(548.358/10)*1rem;
	width:(548.358/548.358)*1em;
}
